<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentmanagementsystem">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AdminReferenceMaterials"
            android:label="@string/title_activity_admin_reference_materials"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".CardViewNotices" />
        <activity android:name=".AdminExam" />
        <activity android:name=".Admin_Profile" />
        <activity android:name=".login1"></activity>
        <activity
            android:name=".AdminNotices"
            android:label="@string/title_activity_admin_notices"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar" />
            android:name=".Admin_Profile"
            android:label="@string/title_activity_admin__profile"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".AdminMenu"
            android:label="@string/app_name" />
        <activity android:name=".MainClass" />
        <activity
            android:name=".Splash"
            android:label="Study Lab"
            android:logo="@drawable/logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>